body {
    background-color: #cefaa2;
    margin: 0;
}
h1 {
    color: white;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    
}
.header {
    background-color: #485738;
    width: 100%;
    height: 120px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    }

.main {
    margin: 0 auto;
    padding: 70px;
    float: left;
    width: 70%;
}

.footer {
    background-color: #597491;
    height: 100px;
    width: 100%;
    margin-top: 320px;
    text-align: center;

}

.flexi {
    padding: 40px;
    margin-bottom: 50px;
}
