body {
    background-color: #7ff5ed;
    text-align: center;
}

h1 {
    color: blue;
    font-family: font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 50px;
    font-po
}

h1, h2 {
    padding: 1px;
    text-align: left;
}

p {
    padding: 1px;
    width: 700px;
    text-align: left;
}

ol { /*ordered list*/
    list-style: upper-roman;
    padding: 50px;
    background-color: lightskyblue;
    width: 500px;
    list-style-position: inside; /*brings all the items inside the box*/
}

ul { /*unordered list*/
    list-style-image: url(../images/image-for-list);
    padding: 50px;
    background-color: lightskyblue;
    width: 500px;
    list-style-position: inside; /*brings all the items inside the box*/
}

ul li {  /*unordered-list listed-items*/
    background: red;
    margin-bottom: 15px;
    width: 500px;
}

ol li {  /*ordered-list listed-items*/
    background-color: blue;
    margin-bottom: 15px;
    color: white;
    width: 500px;
}


