body {
background-color: white;
color: black;
font-size: 21px;
}


p {
    color: grey;;
}


h1 {
    font-size: 27px;
    color: goldenrod;
}

div {
    background-color: violet;
    
}

span {
    color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}