body {
background-color: white;
color: black;
font-size: 21px;
}


p {
    color: grey;;
}


h1 {
    font-size: 27px;
    color: goldenrod;
}

.top-section {
    background-color: pink;
}
    
.bot-section {
    background-color: green;
}

.intro {
    background-color: blue;
    font-size: large;
}